.eew_jp {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.eew_jp_title_box {
    background-color:#0066CC;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 30px;
    padding-left: 5px;
}

.eew_jp_status_box {
    background-color: #3c3c3c;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color: white;
    height: 30px;
}

.eew_jp_main_box {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #3c3c3c;
    color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display: none;
}

.eew_tw {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
}

.eew_tw_title_box {
    background-color: #0066CC;
     
    height: 30px;
    padding-left: 5px;
}
.eew_tw_list {
    background-color: #3c3c3c;
}
.eew_tw_status_box{
    background-color: #3c3c3c;
    color: white;
    height: 30px;
}
.eew_tw_main_box{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #3c3c3c;
    color: white;
    display: flex;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.eew_tw_maindown{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.eew_tw_scale{
    padding: 3px;
}

.eew_tw_local {
    background-color: blue;
    color: white;
    display: none;
    margin-bottom: 5px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.RF{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.RF_title{
    background-color: #0066CC;
    height: 30px;
    padding-left: 5px;
}
.RF_list{
    /*background-color: #3c3c3c;*/
    background-color: #3c3c3c;
    color: white;
    /*height: 30px;*/
}
.RFPLUS{
    /*background-color: #3c3c3c;*/
    background-color: #3c3c3c;
    color: white;
    padding-bottom: 0px;
    /*height: 30px;*/
}
.RFPLUS3_maindown{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.RFPLUS3_scale{
    padding: 3px;
}
.RF_lists{
    background-color: #3c3c3c;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 8px;
    padding: 5px;
}
.RF_item{
    margin: 5px;
    display:flex;
    flex-wrap: nowrap;
}
.RFPLUS_status_box{
    background-color: #3c3c3c;
    color: white;
    height: 30px;
    padding-left: 5px;
}
.RFPLUS_main_box{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #3c3c3c;
    color: white;
    display: flex;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.tsunami {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.tsunami_title{
    background-color: #0066CC;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 30px;
    padding-left: 5px;
}
.tsunami_content{
    background-color: #3c3c3c;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color: white;
    padding: 5px
}